* {
  margin: 0;
  padding: 0;
}

.view-container {
  height: 100%;
  width: 100%;
  background: #000000;
  color: #FFFFFF;
}

.view {
  padding: 1%;
  height: 100%;
  box-sizing: border-box;
}

body {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*height: 100vh;*/
  /*background: rgba(0, 0, 0, 0);*/
  /*overflow-y: hidden;*/
  background: #000000;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.bible-container {
  height: 100%;
}

.bible {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bible-text {
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
}

.bible-reference {
  font-size: 3.5em;
}

/* Track */

#screen-track {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #000000;
  padding: 0 1% 0 1%;
}

#screen-track-text {
  /*width: 60%;*/
  /*height: 78px;*/
  font-size: 5em;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  text-shadow: #000000 0 0 2.1px;
}

/* /Track */
