.tabs-container {
  /*height: 40px;*/
  /*width: 320px;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  height: 39px;
  min-height: 39px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #F1F1F1;
}

.tabs .tab:first-child {
  border-radius: 4px 0 0 4px;
}

.tabs .tab:last-child {
  border-radius: 0 4px 4px 0;
}

.tabs-content {
  height: 100%;
  width: 320px;
  overflow-x: auto;
}

.tabs-content::-webkit-scrollbar {
  width: 0;
}