.chapter {
  display: block;
  box-sizing: border-box;
  flex-grow: 1;
  text-align: center;
  line-height: 28px;
  max-width: 28px;
  height: 28px;
  margin: 5px;
  font-size: 11px;
  border: none;
  border-radius: 4px;
  color: #323232;
  background: #F9F9F9;
  font-weight: bold;
  cursor: pointer;
}

.chapter:hover {
  cursor: pointer;
  font-weight: bold;
  background: #484848;
  color: #FFFFFF;
}