.couplet {
  width: 235px;
  height: 151px;
  box-sizing: border-box;
  background: #323232;
  color: #FFFFFF;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.couplet:hover {
  cursor: pointer;
}

.couplet-text {
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 9px;
  text-align: center;
}