.book {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.book:hover {
  cursor: pointer;
}

.book-name {
  font-size: 14px;
  font-weight: 500;
}

.book-count-chapters {
  font-size: 14px;
  color: #B4B4B4;
}