.button {
  border: none;
  outline: none;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F9F9F9;
}

.button:hover {
  cursor: pointer;
}

.button-icon {
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}