.about-active-book {
  width: 100%;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-active-book-name {
  flex-grow: 1;
  font-weight: 500;
}

.about-active-book-chapter-id {
  margin: 0 4px 0 0;
  font-weight: 500;
}

.about-active-book-chapter-verse-id {
  margin: 0 0 0 4px;
  font-weight: 500;
}