.verses {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px; /* 213px */
  grid-gap: 10px;
}

.verse {
  background: #000000;
  border-radius: 4px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: space-between;
  user-select: none;
}

.verse-text {
  font-weight: bold;
  font-size: .7em;
  line-height: 1em;
}

.verse-reference {
  text-transform: uppercase;
  font-size: .7em;
}

.verse:hover {
  cursor: pointer;
}